<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.infthink.itmc"
    android:versionCode="1000040"
    android:versionName="1.0.40" >

    <uses-sdk
        android:minSdkVersion="12"
        android:targetSdkVersion="18" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="com.android.vending.BILLING" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.RAISED_THREAD_PRIORITY" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />

    <application
        android:name="com.infthink.itmc.ITApp"
        android:hardwareAccelerated="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:theme="@style/DefaultTheme" >
        <activity
            android:name="com.infthink.itmc.HomeActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/HomeTheme"
            android:uiOptions="splitActionBarWhenNarrow"
            android:windowSoftInputMode="adjustNothing" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.infthink.itmc.ChannelActivity"
            android:screenOrientation="portrait"
            android:theme="@style/ChannelTheme"
            android:uiOptions="splitActionBarWhenNarrow"
            android:windowSoftInputMode="adjustNothing" >
        </activity>
        <activity
            android:name="com.infthink.itmc.RankMediaActivity"
            android:screenOrientation="portrait"
            android:theme="@style/ChannelTheme"
            android:uiOptions="splitActionBarWhenNarrow"
            android:windowSoftInputMode="adjustNothing" >
        </activity>
        <activity
            android:name="com.infthink.itmc.RecentPlayHistoryActivity"
            android:screenOrientation="portrait"
            android:theme="@style/ChannelTheme"
            android:uiOptions="splitActionBarWhenNarrow"
            android:windowSoftInputMode="adjustNothing" >
        </activity>
         <activity
            android:name="com.infthink.itmc.RecentMyFavouriteActivity"
            android:screenOrientation="portrait"
            android:theme="@style/ChannelTheme"
            android:uiOptions="splitActionBarWhenNarrow"
            android:windowSoftInputMode="adjustNothing" >
        </activity>
        <activity
            android:name="com.infthink.itmc.MediaDetailActivity"
            android:screenOrientation="portrait"
            android:theme="@style/ChannelTheme"
            android:uiOptions="splitActionBarWhenNarrow"
            android:windowSoftInputMode="adjustNothing" >
        </activity>
        <activity
            android:name="com.infthink.itmc.SearchActivity"
            android:screenOrientation="portrait"
            android:theme="@style/SearchTheme"
            android:windowSoftInputMode="adjustNothing|stateVisible" />
        <activity
            android:name="io.vov.vitamio.activity.InitActivity"
            android:configChanges="orientation|screenSize|smallestScreenSize|keyboard|keyboardHidden|navigation"
            android:launchMode="singleTop"
            android:theme="@android:style/Theme.NoTitleBar"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name="com.infthink.itmc.WebViewActivity"
            android:screenOrientation="portrait"
            android:theme="@style/HomeTheme" />
        <activity
            android:name="com.infthink.itmc.MediaPlayerActivity"
            android:configChanges="orientation|screenSize|smallestScreenSize|keyboard|keyboardHidden|navigation"
            android:launchMode="singleTop"
            android:screenOrientation="landscape"
            android:theme="@android:style/Theme.NoTitleBar" />
        
         <activity
            android:name="com.infthink.itmc.AdvancedVideoDemo"
            android:screenOrientation="portrait"
            android:theme="@style/ChannelTheme"
            android:uiOptions="splitActionBarWhenNarrow"
            android:windowSoftInputMode="adjustNothing" >
        </activity>

        <service android:name="com.infthink.itmc.service.CoreService" />

        <meta-data
            android:name="upgrade_url"
            android:value="http://ota.infthink.com/check" />
        <meta-data
            android:name="PLATFORM_ID"
            android:value="\ 0001000100010001" />
    </application>

</manifest>